In [1]:
import pandas as pd
import random
import string
from datetime import datetime

In [2]:
df=pd.read_csv('../Loan_default.csv')

In [3]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,255337,255338,255339,255340,255341,255342,255343,255344,255345,255346
LoanID,I38PQUQS96,HPSK72WA7R,C1OZ6DPJ8Y,V2KKSFM3UN,EY08JDHTZP,A9S62RQ7US,H8GXPAOS71,0HGZQKJ36W,1R0N3LGNRJ,CM9L1GTT2P,...,DSL4O0KAWD,6V8S5IUS63,O6SWO6CBGB,48LOOK4VR1,AKXAXQN7PG,8C6S86ESGC,98R4KDHNND,XQK1UUUNGP,JAO28CPL4H,ZTH91CGL0B
Age,56,69,46,32,60,25,38,56,36,40,...,64,68,51,41,40,19,32,56,42,62
Income,85994,50432,84208,31713,20437,90298,111188,126802,42053,132784,...,73743,21711,69492,61809,129890,37979,51953,84820,85109,22418
LoanAmount,50587,124440,129188,44799,9139,90448,177025,155511,92357,228510,...,140354,168231,122962,119238,116119,210682,189899,208294,60575,18481
CreditScore,520,458,451,743,633,720,429,531,827,480,...,300,352,348,444,701,541,511,597,809,636
MonthsEmployed,80,15,26,0,8,18,80,67,83,114,...,0,78,66,34,38,109,14,70,40,113
NumCreditLines,4,1,3,3,4,2,1,4,1,4,...,2,2,2,2,3,4,2,3,1,2
InterestRate,15.23,4.81,21.17,7.07,6.51,22.72,19.11,8.15,23.94,9.09,...,4.12,9.71,10.83,19.99,9.91,14.11,11.55,5.29,20.9,6.73
LoanTerm,36,60,24,24,48,24,12,60,48,48,...,12,60,48,36,24,12,24,60,48,12
DTIRatio,0.44,0.68,0.31,0.23,0.73,0.1,0.16,0.43,0.2,0.33,...,0.24,0.36,0.27,0.31,0.23,0.85,0.21,0.5,0.44,0.48
Education,Bachelor's,Master's,Master's,High School,Bachelor's,High School,Bachelor's,PhD,Bachelor's,High School,...,PhD,PhD,High School,Master's,High School,Bachelor's,High School,High School,High School,Bachelor's
EmploymentType,Full-time,Full-time,Unemployed,Full-time,Unemployed,Unemployed,Unemployed,Full-time,Self-employed,Self-employed,...,Self-employed,Full-time,Part-time,Part-time,Part-time,Full-time,Part-time,Self-employed,Part-time,Unemployed
MaritalStatus,Divorced,Married,Divorced,Married,Divorced,Single,Single,Married,Divorced,Married,...,Single,Divorced,Divorced,Married,Divorced,Married,Divorced,Married,Single,Divorced
HasMortgage,Yes,No,Yes,No,No,Yes,Yes,No,Yes,Yes,...,Yes,Yes,No,Yes,Yes,No,No,Yes,Yes,Yes
HasDependents,Yes,No,Yes,No,Yes,No,No,No,No,No,...,No,Yes,No,Yes,No,No,No,Yes,Yes,No
LoanPurpose,Other,Other,Auto,Business,Auto,Business,Home,Home,Education,Other,...,Education,Home,Home,Auto,Home,Other,Home,Auto,Other,Education
HasCoSigner,Yes,Yes,No,No,No,Yes,Yes,Yes,No,Yes,...,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes
Default,0,0,1,0,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0

In [29]:
def gen_user_id(no_user:int):
    user_ids=[]
    for _ in range(no_user * 8):
        user_ids.append("".join(random.sample(string.ascii_letters,20)))
    return list(set(user_ids))[:no_user]

In [30]:
list_user_ids=gen_user_id(no_user=50000)
list_user_map_df=random.choices(list_user_ids,k=len(df))

In [31]:
start_date = datetime(2021, 1, 1)
end_date = datetime(2024, 4, 1)

# Generate a list of 10 random datetime
random_dates = [start_date + (end_date - start_date) * random.random() for _ in range(len(df))]

In [32]:
df['user_id']=list_user_map_df

In [33]:
df['txn_date']=random_dates

In [34]:
df

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default,user_id,txn_date
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0,hjXLMitclWeByNSJUzkR,2023-07-14 11:42:13.299158
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0,uFWwCpVKDXzIJSQfbByx,2023-09-30 16:06:48.756101
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1,JcUPSewnGrYmKqyMTvVa,2022-11-17 23:32:47.312832
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0,oPzXfLBhKmZJDdlFNxuc,2023-09-21 09:42:55.751514
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0,ONlCFjkArdDahPunXvIi,2022-09-07 23:04:30.652579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255342,8C6S86ESGC,19,37979,210682,541,109,4,14.11,12,0.85,Bachelor's,Full-time,Married,No,No,Other,No,0,nfCYEOSFtPIDWasTuZUl,2022-02-16 04:22:05.242908
255343,98R4KDHNND,32,51953,189899,511,14,2,11.55,24,0.21,High School,Part-time,Divorced,No,No,Home,No,1,QwVYDjJZvfXNOgpUFoKy,2023-04-03 20:22:05.321843
255344,XQK1UUUNGP,56,84820,208294,597,70,3,5.29,60,0.50,High School,Self-employed,Married,Yes,Yes,Auto,Yes,0,NBDLthSpkeiPGIWvCTxJ,2023-08-25 18:01:55.970346
255345,JAO28CPL4H,42,85109,60575,809,40,1,20.90,48,0.44,High School,Part-time,Single,Yes,Yes,Other,No,0,NTxyphwjdIFOJSbiUYgk,2021-01-27 10:06:21.338041
255346,ZTH91CGL0B,62,22418,18481,636,113,2,6.73,12,0.48,Bachelor's,Unemployed,Divorced,Yes,No,Education,Yes,0,EdZiFxuGBHVhOWIRwzkp,2023-08-15 17:53:05.584132

In [35]:
df['user_id'].nunique()

49727

In [36]:
df.to_parquet('../loan_default_gen.parquet')