In [3]:
import pandas as pd

In [7]:
df_data=pd.read_parquet('../loan_default_gen.parquet')

In [8]:
df_data

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default,user_id,txn_datetime
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,Bachelor's,Full-time,Divorced,Yes,Yes,Other,Yes,0,nCPimXlNdbfDevjJEIqR,2021-11-05 07:35:06.895426
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,Master's,Full-time,Married,No,No,Other,Yes,0,OdIWPlnjihRxUVgAmkJH,2023-02-18 19:38:40.676982
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,Master's,Unemployed,Divorced,Yes,Yes,Auto,No,1,QWzdGbKOABMJjDqwEkVs,2022-07-02 22:19:18.511940
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,High School,Full-time,Married,No,No,Business,No,0,XpRsiKDelhytUJkIYAxO,2022-09-10 18:21:22.073296
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,Bachelor's,Unemployed,Divorced,No,Yes,Auto,No,0,gjIstafJSbNKZmqrcehA,2021-01-16 07:09:20.592912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255342,8C6S86ESGC,19,37979,210682,541,109,4,14.11,12,0.85,Bachelor's,Full-time,Married,No,No,Other,No,0,zBAJKUqokcnrIxjVNPRS,2024-02-21 06:20:44.522583
255343,98R4KDHNND,32,51953,189899,511,14,2,11.55,24,0.21,High School,Part-time,Divorced,No,No,Home,No,1,aYvkGIQBFlJbXjdesLxD,2024-01-18 04:59:04.326213
255344,XQK1UUUNGP,56,84820,208294,597,70,3,5.29,60,0.50,High School,Self-employed,Married,Yes,Yes,Auto,Yes,0,LnSIPghlwTbZtQKJDBNH,2023-01-14 02:58:56.047302
255345,JAO28CPL4H,42,85109,60575,809,40,1,20.90,48,0.44,High School,Part-time,Single,Yes,Yes,Other,No,0,wOsWvTBLrbgMkFmfPARV,2021-09-06 22:47:40.784828
255346,ZTH91CGL0B,62,22418,18481,636,113,2,6.73,12,0.48,Bachelor's,Unemployed,Divorced,Yes,No,Education,Yes,0,iNUxSQMGPcDpsLJEFICB,2023-10-06 07:11:28.141023

In [8]:
df_data['user_id'].nunique()

49727

In [11]:
df_data.txn_datetime

0        2021-11-05 07:35:06.895426
1        2023-02-18 19:38:40.676982
2        2022-07-02 22:19:18.511940
3        2022-09-10 18:21:22.073296
4        2021-01-16 07:09:20.592912
                    ...
255342   2024-02-21 06:20:44.522583
255343   2024-01-18 04:59:04.326213
255344   2023-01-14 02:58:56.047302
255345   2021-09-06 22:47:40.784828
255346   2023-10-06 07:11:28.141023
Name: txn_datetime, Length: 255347, dtype: datetime64[ns]